<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <title>{% block title %} Admin {% endblock %} - svblog</title>
        <!--[if lt IE 9]>
        <![endif]-->
		{% block stylesheets %}
			{% stylesheets 'bundles/admin/css/*' %}
				<link rel="stylesheet" href="{{ asset_url }}" />
			{% endstylesheets %}
		{% endblock %}
		
		 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
	


		{% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>