<style>
form {
width: 20%;
display: block;
margin: 0px auto;
background-color: #F9F9F9;
border: 1px solid lightgray;
padding: 30px;
}
input {
float: right;
}
label {
font-size:20px;
}
h2 {
text-align:center;
}
</style>

<h2>Adaugare user</h2>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}