
<body>
<style>
form {
width: 20%;
display: block;
margin: 0px auto;
background-color:lightgray ;
border: 1px solid lightgray;
padding: 30px;

}

input {float:right;}

h2{text-align:center;}

label {font-size:20px;}
</style>


<h2>Inserare ADMIN</h2>


{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}