{# src/Blogger/BlogBundle/Resources/views/Page/cocos.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}


{% block title %}Cocos{% endblock%}

{% block body %}				
    <header>
        <h1>Despre tatuaje</h1>
    </header>
    <article>
        <p>		Cuvantul „tatuaj” provine, pe de o parte, de la cuvantul polinezian „tatau”, care inseamna „a lovi ceva”, si, pe de alta, de la tahitianul „tatu”, adica „a marca ceva”. Antropologii considera ca primul tatuaj a fost facut, probabil, din greseala si a constat in introducerea sub piele a unor substante colorate. 
		Astfel, cineva care avea o mica rana a atins-o cu mana murdara de funingine.
		Dupa vindecarea ranii, a vazut ca cenusa a ramas impregnata in piele, marcand astfel locul.Popoarele primitive foloseau tatuajul in timpul ritualurilor de trecere, pentru a se proteja de fortele malefice sau, pur si simplu, din dorinta de infrumusetare. 
		Astazi, aceasta moda e foarte raspandita printre artisti, fie ei cantareti sau actori de film.In 1992, in apropierea granitei Austriei cu Italia, pe inaltimile muntilor Alpi, a fost descoperit corpul unui barbat. Cu hainele si echipamentul bine conservate in gheata, barbatul avea o vechime estimata de arheologi la mai mult de 5.000 de ani.
		Descoperirea a produs senzatie. I s-a spus "Otzi, omul gheturilor";. Ei bine, Otzi avea in jurul gleznelor si a genunchilor semne care semanau foarte bine cu tatuajele de astazi.
		Au fost numarate 58 de astfel de desene alcatuite din puncte si linii simple, iar istoricii au apreciat ca tatuajele respective nu erau intamplatoare, practica fiind probabil una frecventa in acele vremuri.Dovada statea si faptul ca, imediat dupa cel de-Al Doilea Razboi Mondial, in 1948, arheologul rus Serghei Rudenko a descoperit in timpul unor excavatii pe inaltimile muntilor Altai, la granita cu China, o capetenie a scitilor al carei corp prezenta picturi cu animale fantastice: grifoni si monstri a caror semnificatie era magica, dar si desene pur decorative. 
		Toate aratau statutul social al celui tatuat. Mumia era mai veche de 2.400 de ani si era foarte bine conservata.</p>
    </article>
	{% image '@AppBundle/Resources/public/images/tatoo.jpg' %}
	<img src="{{ asset_url }}" alt="tatoo" />
	{%endimage%}



{% endblock %}
