{% extends 'base.html.twig' %}
{% block title %} HomePage {% endblock %}
{% block homeActive %}class="active"{% endblock %}
{% block body %}
<div class="page-header">
  <h2>Crisan Augustin Olimpiu</h2>
</div>
<p>This is my first project in Symfony 3 and I love it!</p>
<p>
	Here I will post news about me !
</p>
<p>
	I think that we will get along very well !
</p>
<p>
	Hear you soon, bye !
</p>
{% endblock %}
